.eo-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-image: url('../../assets/images/enjoy your life with us bg .png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;

    padding: 0 12%;
}