.slilder-card{
    width: 612px;
    position: relative;
    /* border: 1px solid red; */
    padding: 52px 32px 32px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 54px 104px rgba(0, 0, 0, 0.04);
    border-radius: 140px 0px;
    border: 0.1px solid rgba(230, 228, 228, 0.381);
}
.s-comma{
    position: absolute;
    left: 62px;
    top: 62px;
}
.s-card-title{
    font-size: 24px;
    font-weight: 600;
}
.s-card-mood{
    font-size: 18px;
    font-weight: 400 ;
    color: #FE2C54;

}
.s-card-description{
    color: #5D616F;
    font-weight: 400;
    font-size: 18px;
    margin: 14px 0;
}

