.App {
 /* border:  1px solid dodgerblue; */
}

/* reused class are written here   */

.keep-me-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 12px 40px;
    border-radius: 40px;
    font-size: 18px;
    border: 1px solid #3E82FC;
    background-color: #3E82FC;
    color: #fff;
    margin-right: 28px;
    box-shadow: 0px 4px 60px rgba(62, 130, 252, 0.35);
}

.space-betweem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}